body, td {font-family: Georgia, serif; font-size: 13px; }

body { margin: 0px; padding: 0px; background: white;}

div#zapys {max-width: 600px; padding: 5px; background: white;}

s {text-decoration : line-through;}
p {margin: 5px 0px; padding: 0px;}

a {color:#00cc; text-decoration:underline; }

ul, ol {margin: 5px;}
ul {list-style-type: circle;}
li {padding-left:5px;}	